<div class="menu-button" (click)="toggleMenu()">☰</div>
<div class="header" [ngClass]="{'show': isMenuOpen}">
  <a [routerLink]="isLoggedIn ? '/dashboard' : '/'" class="logo"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDtCS--5BguZl3QOlVnKHam2CDxxV8yVav-g&s" 
    style="width: 250px; border-radius: 2%;"
    alt=""></a>
  <div class="emergency-notification" *ngIf="emergencyMessages.length > 0">
    <span class="icon" title="You have emergency messages!" *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/notificacion'">⚠️ Notificaciones SOS</span>
  </div>
  <div class="header-left">
    <ul>
      <li class="menu-item">
        <a *ngIf="isLoggedIn && isSupervisor" class="menu-title">GESTION DE EMPLEADOS</a>
        <ul class="submenu">
          <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/infoEmpleados'">Listado Empleados</a></li>
          <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/registrarGuardia'">Nuevo Empleado</a></li>
          <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/monitoreo'">Monitoreo GPS</a></li>
        </ul>
      </li>
      <li class="menu-item">
        <a *ngIf="isLoggedIn && isSupervisor" class="menu-title">GESTION DE HORARIO</a>
        <ul class="submenu">
          <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/asignacionHorario'">Asignación Horario</a></li>
          <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/calendario'">Calendario</a></li>
        </ul>
      </li>
      <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/bitacora'">Bitácoras</a></li>
      <li *ngIf="isLoggedIn && isSupervisor"><a [routerLink]="'/cliente'">Clientes</a></li>
    </ul>
    <ul class="auth-links">
      <li *ngIf="!isLoggedIn"><a class="auth-link" routerLink="/login">Iniciar Sesión</a></li>
      <li *ngIf="isLoggedIn"><a class="auth-link" (click)="logout()">Cerrar Sesión</a></li>
    </ul>
  </div>
</div>
