<div class="header">
  <a [routerLink]="isLoggedIn ? '/home' : '/'" class="logo">Codisecurity</a>
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  <div class="header-right" [ngClass]="{'show': isMenuOpen}">
    <!-- <a routerLink="/home">Página Principal</a> -->
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/bitacora'">Bitácora</a>
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/dashboard'">Informe Analítico</a>
    <!-- <div class="dropdown" *ngIf="isLoggedIn && isSupervisor">
      <a [routerLink]="'/guardias'">Empleados</a>
      <div class="dropdown-content">
        <a routerLink="/infoEmpleados">Ver Empleados</a>
        <a routerLink="/registrarGuardia">Registrar Empleados</a>
      </div>
    </div> -->
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/infoEmpleados'">Gestión Empleados</a>
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/registrarGuardia'">Nuevo Guardia</a>
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/asignacionHorario'">Asignación de Turnos</a>
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/calendario'">Ver Turnos</a>
    <a *ngIf="isLoggedIn && isSupervisor" [routerLink]="'/monitoreo'">Monitoreo</a>
    <a *ngIf="!isLoggedIn" routerLink="/login">Iniciar Sesión</a>
    <a *ngIf="isLoggedIn" (click)="logout()">Cerrar Sesión</a>
  </div>
</div>
