<button class="open-button" (click)="showForm = true">Crear Nueva Persona</button>

<!-- Formulario emergente para crear una nueva persona -->
<div *ngIf="showForm" class="overlay">
  <div class="container">
    <div class="main">
      <p class="sign">Crear Nueva Persona</p>
      <form class="form1" [formGroup]="personaForm" (ngSubmit)="onSubmit()">
        <div class="left-column">
          <input class="un" type="text" formControlName="nombres" placeholder="Nombres" required>
          <input class="un" type="text" formControlName="apellidos" placeholder="Apellidos" required>
          <input class="un" type="text" formControlName="cedula" placeholder="Cédula" required>
          <input class="un" type="text" formControlName="fechaNacimiento" placeholder="Fecha de Nacimiento" required>
        </div>
        <div class="right-column">
          <input class="un" type="text" formControlName="direccionDomicilio" placeholder="Dirección Domicilio" required>
          <input class="un" type="text" formControlName="telefono" placeholder="Teléfono" required>
          <input class="un" type="text" formControlName="manejaArma" placeholder="Maneja Arma" required>
          <input class="un" type="text" formControlName="imagen" placeholder="Imagen">
          <input class="un" type="text" formControlName="fechaIngreso" placeholder="Fecha de Ingreso" required>
          <input class="un" type="text" formControlName="userId" placeholder="UserID">
        </div>
        <!-- Agregar más campos según las propiedades de la persona -->
        <button type="submit" class="submit">Crear Persona</button>
      </form>
      
      <!-- Botón para cerrar el formulario emergente -->
      <button class="close-button" (click)="showForm = false">Cerrar</button>
    </div>
  </div>
</div>



<!-- Resto del contenido -->

<table class="md-table">
  <thead>
    <tr class="md-table-headers-row">
      <th class="md-table-header">Nombres</th>
      <th class="md-table-header">Apellidos</th>
      <th class="md-table-header">Cédula</th>
      <th class="md-table-header">Fecha Nacimiento</th>
      <th class="md-table-header">Dirección Domicilio</th>
      <th class="md-table-header">Telefono</th>
      <th class="md-table-header">Maneja Arma</th>
      <th class="md-table-header">Imagen</th>
      <th class="md-table-header">Fecha Ingreso</th>
      <th class="md-table-header">UserId</th>
      <!-- Añade aquí más columnas según las propiedades de tu entidad Persona -->
      <th class="md-table-header md-table-td-more">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="md-table-content-row" *ngFor="let persona of personas">
      <td class="md-table-content">{{ persona.nombres }}</td>
      <td class="md-table-content">{{ persona.apellidos }}</td>
      <td class="md-table-content">{{ persona.cedula }}</td>
      <td class="md-table-content">{{ persona.fechaNacimiento }}</td>
      <td class="md-table-content">{{ persona.direccionDomicilio }}</td>
      <td class="md-table-content">{{ persona.telefono }}</td>
      <td class="md-table-content">{{ persona.manejaArma }}</td>
      <td class="md-table-content">{{ persona.imagen }}</td>
      <td class="md-table-content">{{ persona.fechaIngreso }}</td>
      <td class="md-table-content">{{ persona.userId }}</td>
      <!-- Añade aquí más columnas según las propiedades de tu entidad Persona -->
      <td class="md-table-td-more">
        <button mat-button aria-label="Editar" (click)="updatePersona(persona._id)">
          <i class="material-icons">edit</i>
        </button>
        <button mat-button aria-label="Eliminar" (click)="deletePersona(persona._id)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
