/* Estilos generales para la tabla */
.table-container {
  overflow-x: auto;
}

.md-table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #ff0000; /* Borde rojo */
  margin-top: 20px;
}

.md-table-headers-row {
  background-color: #ff0000; /* Fondo rojo */
  color: white;
}

.md-table-header,
.md-table-content {
  padding: 12px;
  text-align: left;
}

.md-table-td-more {
  text-align: center;
}

.md-table-content-row:hover {
  background-color: #ffcccc; /* Fondo rojo claro al hacer hover */
  cursor: pointer;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 900px; /* Ajuste de ancho máximo */
  margin: 20px auto; /* Centrado horizontal y espacio alrededor */
  box-sizing: border-box;
  position: relative;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.open-button,
.edit-button,
.delete-button,
.close-button,
.pagination-button {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.open-button {
  background-color: #cc2e2e; /* Rojo */
  color: white;
}

.open-button:hover {
  background-color: #ae2727; /* Rojo más oscuro al hacer hover */
}

.edit-button {
  background-color: #27ae60; /* Verde */
  color: white;
}

.edit-button:hover {
  background-color: #2ecc71; /* Verde más oscuro al hacer hover */
}

.delete-button {
  background-color: #e74c3c; /* Rojo */
  color: white;
}

.delete-button:hover {
  background-color: #c0392b; /* Rojo más oscuro al hacer hover */
}

.close-button {
  background-color: #333; /* Gris oscuro */
  color: white;
}

.close-button:hover {
  background-color: #555; /* Gris más oscuro al hacer hover */
}

.pagination-button {
  background-color: #007bff; /* Azul */
  color: white;
}

.pagination-button:hover {
  background-color: #0056b3; /* Azul más oscuro al hacer hover */
}

.user-image {
  display: block;
  margin: 0 auto 20px;
  max-width: 150px;
  border-radius: 50%;
}

.user-info {
  margin-top: 20px;
}

.container .form-check-toggle {
  display: flex;
  justify-content: space-between;
}

.container .form-check-toggle label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.container .form-check-toggle label img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 5px; /* Reducir el espacio entre los botones */
}

.container .form-check-toggle label.active img {
  border: 2px solid #8C55AA;
}

/* Estilos para el selector de Cliente */
.custom-select {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 16px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
