<div class="h1">LISTADO DE BITÁCORAS</div>
<div class="bitacoras-container" *ngIf="bitacoras.length">
  <!-- Selector para elegir nombre de agente -->
  <div class="selector-container">
    <select class="select-input" [(ngModel)]="filtroNombreAgente">
      <option value="">Seleccionar agente</option>
      <option *ngFor="let nombreAgente of nombresAgentes" [value]="nombreAgente">{{ nombreAgente }}</option>
    </select>
  </div>

  <!-- Input para filtrar por fechaHorario -->
  <div class="filtro-fecha-container">
    <input class="date-input" type="date" [(ngModel)]="filtroFechaHorario">
  </div>

  <!-- Botón para limpiar los filtros -->
  <div class="limpiar-filtros-container">
    <button class="limpiar-btn" (click)="limpiarFiltros()">Limpiar Filtros</button>
  </div>

  <div class="table-container">
    <table class="bitacoras-table">
      <thead>
        <tr>
          <!-- <th>User ID</th> -->
          <th>Nombre Agente</th>
          <th>Fecha</th>
          <th>Cliente</th>
          <th>Visualizar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bitacora of filtrarBitacorasPorNombreAgente()">
          <!-- <td data-label="User ID">{{ bitacora.userId }}</td> -->
          <td data-label="Nombre Agente">{{ bitacora.nombreAgente }}</td>
          <td data-label="Fecha">{{ bitacora.fechaHorario }}</td>
          <td data-label="Cliente">{{ bitacora.cliente }}</td>
          <td data-label="Visualizar">
            <div *ngIf="bitacoras">
              <button class="pdf-btn" (click)="generarPDF(bitacora)">Generar PDF</button>
            </div>              
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
