<!-- calendario.component.html -->
<div class="date-navigation">
  <!-- Selector de lugares de trabajo -->
  <select [(ngModel)]="selectedLugarTrabajo">
    <option value="">Todos los lugares de trabajo</option>
    <option *ngFor="let lugar of lugaresTrabajo" [value]="lugar">{{ lugar }}</option>
  </select>
  <button (click)="changeWeek(-1)">&#9664; Semana Anterior</button>
  <span>{{ fechasSemana[0] | date: 'dd/MM/yyyy' }} - {{ fechasSemana[6] | date: 'dd/MM/yyyy' }}</span>
  <button (click)="changeWeek(1)">Semana Siguiente &#9654;</button>
</div>

<table class="calendar">
  <thead>
    <tr>
      <th>AGENTE</th>
      <th *ngFor="let dia of dias; let i = index">{{ dia }}<br>{{ fechasSemana[i] | date: 'dd/MM/yyyy' }}</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let persona of personas">
      <tr>
        <td>
          <div class="persona-contenedor" [ngClass]="'agente-' + persona.userId">
            <img [src]="persona.imagen" alt="{{ persona.nombres }} {{ persona.apellidos }}" class="persona-imagen">
            <div class="persona-nombre">{{ persona.nombres }} {{ persona.apellidos }}</div>
          </div>
        </td>
        <ng-container *ngFor="let dia of dias">
          <td>
            <div class="day-column">
              <div *ngFor="let horario of getHorariosPorDia(dia, persona)">
                <div class="time-slot" *ngIf="horario.lugarTrabajo === selectedLugarTrabajo || !selectedLugarTrabajo" (click)="openHorarioInfo(horario)">
                  {{ horario.horaInicio }} - {{ horario.horaFin }}
                  <div *ngIf="selectedHorario === horario" class="floating-label" (click)="stopEventPropagation($event)">
                    <p><strong>Fecha:</strong> {{ horario.fecha }}</p>
                    <p><strong>Hora Inicio:</strong> {{ horario.horaInicio }}</p>
                    <p><strong>Hora Fin:</strong> {{ horario.horaFin }}</p>
                    <p><strong>Puesto:</strong> {{ horario.puesto }}</p>
                    <p><strong>Lugar de Trabajo:</strong> {{ horario.lugarTrabajo }}</p>
                    
                    <!-- Formulario para editar el horario -->
<div class="floating-label" 
[class.show-form]="selectedHorario === horario"
(click)="stopEventPropagation($event)">
<form *ngIf="selectedHorario === horario" (ngSubmit)="updateHorario(selectedHorario)">
<label>
 Hora Inicio:
 <input type="time" [(ngModel)]="selectedHorario.horaInicio" name="horaInicio" (click)="stopEventPropagation($event)">
</label>
<label>
 Hora Fin:
 <input type="time" [(ngModel)]="selectedHorario.horaFin" name="horaFin" (click)="stopEventPropagation($event)">
</label>                      
<label>
 Puesto:
 <input [(ngModel)]="selectedHorario.puesto" name="puesto" (click)="stopEventPropagation($event)">
</label>
<label>
 Lugar de Trabajo:
 <input [(ngModel)]="selectedHorario.lugarTrabajo" name="lugarTrabajo" (click)="stopEventPropagation($event)">
</label>
<!-- Botón para guardar cambios -->
<button type="submit" (click)="stopEventPropagation($event)">Guardar cambios</button>
</form>
<!-- Botón para eliminar el horario -->
<button (click)="deleteHorario(selectedHorario); stopEventPropagation($event)">Eliminar horario</button>
</div>

                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
      </tr>
    </ng-container>
  </tbody>
</table>