/* app.component.css */

.app-container {
    display: flex;
  }
  
  .main-content {
    margin-left: 50px;
    margin-right: 50PX;
    margin-top: 20PX; /* Debe ser igual al ancho del header */
    padding: 0px;
    flex-grow: 1;
  }
  
  @media screen and (max-width: 768px) {
    .main-content {
      margin-left: 0;
    }
  }
  