/* Estilos para ocultar elementos */
.hidden {
  display: none;
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.table-container {
  overflow-x: auto;
  margin: 20px;
}

.md-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.md-table th, .md-table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

.md-table-header {
  background-color: #ff0000;
  color: white;
  font-weight: bold;
}

.md-table-content {
  vertical-align: middle;
}

.md-table td img.persona-imagen {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .md-table, .md-table thead, .md-table tbody, .md-table th, .md-table td, .md-table tr {
      display: block;
  }

  .md-table-headers-row {
      display: none;
  }

  .md-table-content-row {
      margin-bottom: 20px;
      border-bottom: 1px solid #ddd;
  }

  .md-table-content {
      text-align: right;
      padding-left: 50%;
      position: relative;
  }

  .md-table-content:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
      text-align: left;
  }

  .md-table-content img.persona-imagen {
      width: 40px;
      height: 40px;
  }
}

/* Estilos para los botones en la tabla */
.md-table-td-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
}

.md-table-td-more button {
  background-color: #2881a7;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.md-table-td-more button:hover {
  background-color: #215f88;
}

.md-table-td-more button i {
  font-style: normal;
  color: white;
}

/* Estilos para la pantalla flotante del formulario */
#form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  max-width: 400px; /* Ajuste del ancho máximo del formulario */
  width: 100%; /* Ancho completo */
}

#horarioForm {
  max-width: 100%;
}

#horarioForm input[type="text"],
#horarioForm select,
#horarioForm input[type="date"],
#horarioForm input[type="time"] {
  width: calc(100% - 20px);
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#horarioForm button.submit-button {
  background-color: #08ff31b0;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px 0;
  width: 100%;
}

#horarioForm button.submit-button:hover {
  background-color: #0056b3;
}

#close-button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 10px;
  right: 10px;
}

#close-button:hover {
  background-color: #c82333;
}

/* Estilos para la imagen de la persona */
.persona-imagen {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Estilos generales para el cuerpo */
body {
  font-family: Arial, sans-serif;
}
