<!-- Tabla de Personas -->
<table class="md-table" style="position: relative;">
    <thead>
      <tr class="md-table-headers-row">
        <th class="md-table-header">Nombres</th>
        <th class="md-table-header">Apellidos</th>
        <th class="md-table-header">Maneja Arma</th>
        <th class="md-table-header">Imagen</th>
        <th class="md-table-header">UserID</th>
        <th class="md-table-header md-table-td-more">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr class="md-table-content-row" *ngFor="let persona of personas">
        <td class="md-table-content">{{ persona.nombres }}</td>
        <td class="md-table-content">{{ persona.apellidos }}</td>
        <td class="md-table-content">{{ persona.manejaArma }}</td>
        <td class="md-table-content">
          <img src="{{ persona.imagen }}" alt="Imagen de la persona" class="persona-imagen">
        </td>
        <td class="md-table-content">{{ persona.userId }}</td>
        <td class="md-table-td-more">
          <button mat-button aria-label (click)="setSelectedUserId(persona.userId)">
            <i>Crear Horario</i>
          </button>
          <button mat-button aria-label>
            <i>Editar Horario</i>
          </button>
          <button mat-button aria-label>
            <i>Eliminar Horario</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  <!-- Formulario para Crear Horario -->
  <div id="form-container" [class.hidden]="selectedUserId === null">
    <h2>Crear Horario</h2>
    <form id="horarioForm" *ngIf="selectedUserId !== null">
      <label for="diaSemana">Día de la Semana:</label>
      <input type="text" id="diaSemana" name="diaSemana" required><br>
      <label for="fecha">Fecha:</label>
      <input type="text" id="fecha" name="fecha" required><br>
      <label for="horaInicio">Hora de Inicio:</label>
      <input type="text" id="horaInicio" name="horaInicio" required><br>
      <label for="horaFin">Hora de Fin:</label>
      <input type="text" id="horaFin" name="horaFin" required><br>
      <input type="hidden" id="userId" name="userId" [value]="selectedUserId">
      <button type="button" (click)="submitForm()">Enviar</button>
    </form>
  </div>
  