.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.chart-container {
  flex: 1 1 400px;
  min-width: 300px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Fondo blanco para contraste */
  padding: 15px;
  box-sizing: border-box;
}

.chart-container h2 {
  font-size: 1.2em;
  margin: 0 0 10px 0;
  text-align: center;
  color: #333; /* Color de texto mejorado */
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .chart-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .chart-container {
    width: calc(100% - 20px);
  }
}
