<div class="h1"> INFORME GRÁFICO DE DATOS</div>
<div class="container">
  <!-- Gráfico de Bitácoras por Clientes -->
  <!-- <div class="chart-container">
    <h2>Bitácoras por Clientes</h2>
    <canvas id="barChart" width="400" height="400"></canvas>
  </div> -->

  <!-- Gráfico de Personas por Cliente -->
  <div class="chart-container">
    <h2>Número de Agentes Asignados a Clientes</h2>
    <canvas id="clientesChart" width="400" height="400"></canvas>
  </div>

  <!-- Gráficos de Personas -->
  <div class="chart-container">
    <h2>Agentes de Manejan Arma</h2>
    <canvas id="armaChart" width="400" height="400"></canvas>
  </div>

    <!-- Gráficos de Ingreso por Fecha -->
    <div class="chart-container">
      <h2>Ingreso de Personas por Fecha</h2>
      <canvas id="fechaIngresoChart" width="400" height="400"></canvas>
    </div>
  <!-- Gráficos de Horarios -->
  <!-- <div class="chart-container">
    <h2>Ingreso de Agentes Nuevos por Fecha</h2>
    <canvas id="fechaHorarioChart" width="400" height="400"></canvas>
  </div> -->
</div>
